<!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand fw-bold" href="/article">Science Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
              data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link active" href="/article">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/article/createArticle">New Article</a></li>
          <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
          <li class="nav-item"><a class="nav-link" href="/users/login">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="/users/register">Sign up</a></li>
        </ul>
      </div>
    </div>
  </nav>